{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
<div style="margin:20px 0 25px 0;">
  <h1 class="h1 mt-2 mb-5 font-weight-normal" style="color: white; text-transform:uppercase;">Spin and win cash prizes!
  </h1>
  {% if error %}
  <h4 class="h4 mb-5 font-weight-normal" style="color: white;">ERROR: {{ error }}</h4>
  {% endif %}

  {% if spin %}
  <h4 class="h4 mb-5 font-weight-normal" style="color: white;">Good luck!</h4>
  {% else %}
  <h2 class="float-start mb-5" style="color: white;">Account Balance: ${{ user.userprofile.balance|floatformat:2|intcomma }} </h2>

  <form class="form-signin" action="{% url 'wheel:draw_spin' %}" method="POST"> {% csrf_token %}
    {% for field in form %}
    <div class="form-group row">
      <label style="color: white" class="col-sm-2 col-form-label col-form-label-lg" for="{{ field.id_for_label }}">{{ field.label }}</label>
      <div class="col-sm-10">
        {{ field|add_class:'form-control form-control-lg' }}
        {% if field.errors %}
        <div class="alert alert-danger mt-3" role="alert">{{ field.errors.0 }}</div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="mt-5">
      <button class="mt2 btn btn-lg btn-primary btn-block" type="submit">SPIN!</button>
    </div>
  </form>
  {% endif %}
  <div id="nameToast" class="toast hidden"></div>
</div>
{% endblock %}

{% block extra-scripts %}
<script>
  const names = ["us***35", "us***23", "us***90", "us***30", "us***05", "us***89", "us***03", "us***54", "us***67", "us***22", "us***34", "us***99"];

  function showRandomNameToast() {
    const randomName = names[Math.floor(Math.random() * names.length)];
    const toast = document.getElementById("nameToast");

    // Set the toast content and make it visible
    toast.textContent = `${randomName} just won $${parseFloat((Math.random() * 500000).toFixed(2)).toLocaleString()}`;
    toast.classList.add("show");
    toast.classList.remove("hidden");

    // Hide the toast after 3 seconds
    setTimeout(() => {
      toast.classList.remove("show");
      toast.classList.add("hidden");
    }, 3000);
  }

  // Display the toast at random intervals (e.g., every 5 to 10 seconds)
  setInterval(showRandomNameToast, Math.random() * 5000 + 5000); // 5-10 sec
</script>
{% if spin %}
<script type="text/javascript">
  console.log("Spin the Wheel!", {{ result }});
  spin("{% url 'wheel:draw_result' result %}", {{ rotation }});
</script>
{% else %}
<script type="text/javascript">
  { #introRotation(false);# }
</script>
{% endif %}

{% endblock %}