{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav alternate">
            <li class="nav-item"><a class="nav-link" href="/deposit">Deposit</a></li>
            <li class="nav-item"><a class="nav-link" href="/withdraw">Withdraw</a></li>
        </ul>
    </div>
</div>

<div id="content" class="py-4 bg-lgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-5 pb-sm-5 px-sm-5 mb-4">
                    <div>

                        <div class="alert alert-info" role="alert">
                            <strong>
                                Your Deposit limit is between &dollar;50.00 and &dollar;1,000.00
                            </strong>
                        </div>

                        {% if messages %}
                        <ul class="messagelist">{% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|capfirst }}</li>
                                {% endfor %}
                        </ul>
                        {% endif %}

                        <form class="form-signin" enctype="multipart/form-data" method="POST"> {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label htmlFor="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control form-control-lg' }}
                                {% if field.errors %}
                                <div class="alert alert-danger mt-3" role="alert">{{ field.errors.0 }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <h6 id="btc_wallet">BTC Address: 3HE9oC81SRYx5pZSqukgxdoGi1DuDr5Xet</h6>
                            <h6 id="usdt_wallet">USDT Address (TRC20): TYZKqbMaLgxbS4J6V3wYcxfbqAMKQEvHhT</h6>
                            <p id="message" class="d-none text-danger">
                                We are currently experiencing some temporary issues with bank transfer, Paypal,
                                and Gcash deposit options. To proceed with your deposit, please reach out to our
                                customer support team for further assistance. they will guide you on an alternative
                                way to deposit your funds securely. Once your deposit is confirmed, the amount will
                                automatically reflect in your account balance.<br /> We apologize for any inconvenience
                                and appreciate your patience as we work to resolve this issue.
                            </p>
                            <div class="d-flex gap-2">
                                <button type="button"
                                    class="btn btn-sm btn-success text-center mr-2 align-items-center justify-content-center crypto_wallet_btn"
                                    onclick="copyAddress('3HE9oC81SRYx5pZSqukgxdoGi1DuDr5Xet')">Copy BTC
                                    Address</button>
                                <button type="button"
                                    class="btn btn-sm btn-success text-center align-items-center justify-content-center crypto_wallet_btn"
                                    onclick="copyAddress('TYZKqbMaLgxbS4J6V3wYcxfbqAMKQEvHhT')">Copy USDT
                                    Address</button>
                            </div>
                            <div class="d-none" id="card">
                                <div class="form-group">
                                    <label for="card_id">Card ID</label>
                                    <input type="text" class="form-control form-control-lg" id="card_id" name="card" />
                                </div>
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control form-control-lg" id="country"
                                        name="country" />
                                </div>
                            </div>
                            <div class="form-group mt-3" id="receipt">
                                <label for="attachment">Upload Deposit Receipt</label>
                                <input type="file" id="attachment" class="form-control form-control-lg"
                                    name="attachment" />
                            </div>
                            <div class="mt-5">
                                <button class="mt2 btn btn-lg btn-primary btn-block" id="submit"
                                    type="submit">Continue</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra-scripts %}
<script type="text/javascript">
    function deposit() {
        let options = document.getElementById('id_deposit_options')
        let selectedOption = options.options[options.selectedIndex].value;

        if (selectedOption === 'crypto') {
            document.getElementById('submit').classList.remove('d-none')
            document.getElementById('receipt').classList.remove('d-none')
            document.getElementById('card').classList.add('d-none')
            document.getElementById('usdt_wallet').classList.remove('d-none')
            document.getElementById('btc_wallet').classList.remove('d-none')
            document.querySelectorAll('.crypto_wallet_btn').forEach((element) => {
                element.classList.remove('d-none');
            });
            document.getElementById('message').classList.add('d-none')
        } else if (selectedOption === 'bank_transfer' || selectedOption === 'paypal' || selectedOption === 'gcash' || selectedOption === 'zelle' || selectedOption === 'cash_app') {
            document.getElementById('message').classList.remove('d-none')
            document.getElementById('card').classList.add('d-none')
            document.getElementById('receipt').classList.add('d-none')
            document.getElementById('usdt_wallet').classList.add('d-none')
            document.getElementById('btc_wallet').classList.add('d-none')
            document.getElementById('submit').classList.add('d-none')
            document.querySelectorAll('.crypto_wallet_btn').forEach((element) => {
                element.classList.add('d-none');
            });
        } else {
            document.getElementById('submit').classList.remove('d-none')
            document.getElementById('receipt').classList.remove('d-none')
            document.getElementById('message').classList.add('d-none')
            document.getElementById('card').classList.remove('d-none')
            document.getElementById('usdt_wallet').classList.add('d-none')
            document.getElementById('btc_wallet').classList.add('d-none')
            document.querySelectorAll('.crypto_wallet_btn').forEach((element) => {
                element.classList.add('d-none');
            });
        }
    }

    function copyAddress(text) {
        navigator.clipboard.writeText(text).then(() => {
            alert('Wallet address copied to clipboard')
        });
    }
</script>
{% endblock %}