{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav alternate">
            <li class="nav-item"><a class="nav-link" href="/deposit">Deposit</a></li>
            <li class="nav-item"><a class="nav-link" href="/withdraw">Withdraw</a></li>
        </ul>
    </div>
</div>

<div id="content" class="py-4 bg-lgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-5 pb-sm-5 px-sm-5 mb-4">
                    <div >

                        <div class="alert alert-info" role="alert">
                            <strong>
                                Your Deposit limit is between &dollar;5.00 and &dollar;1,000.00
                            </strong>
                        </div>

                        <form class="form-signin" method="POST"> {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label class="" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control form-control-lg' }}
                                    {% if field.errors %}
                                    <div class="alert alert-danger mt-3" role="alert">{{ field.errors.0 }}</div>
                                    {% endif %}
                            </div>
                            {% endfor %}
                            <h6 id="crypto_wallet" data-id="3HE9oC81SRYx5pZSqukgxdoGi1DuDr5Xet">Wallet Address: 3HE9oC81SRYx5pZSqukgxdoGi1DuDr5Xet</h6>
                            <p id="message" class="d-none">Kindly contact customer support <ahref="mailto:support@spinvantage.com">support@spinvantage.com</ahref=> for guidance</p>
                            <button type="button" class="btn btn-sm btn-success text-center align-items-center justify-content-center" id="crypto_wallet_btn" onclick="copyAddress()">Copy Address</button>
                            <div class="form-group row d-none" id="card">
                                <label class="col-sm-2 col-form-label col-form-label-lg" for="card_id">Card ID</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" id="card_id" name="card">
                                </div>
                            </div>
                            <div class="mt-5">
                                <button class="mt2 btn btn-lg btn-primary btn-block" type="submit">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra-scripts %}
<script type="text/javascript">
    function deposit() {
        let options = document.getElementById('id_deposit_options')
        let selectedOption = options.options[options.selectedIndex].value;

        if (selectedOption === 'crypto') {
            document.getElementById('card').classList.add('d-none')
            document.getElementById('crypto_wallet').classList.remove('d-none')
            document.getElementById('crypto_wallet_btn').classList.remove('d-none')
            document.getElementById('message').classList.add('d-none')
        } else if (selectedOption === 'bank_transfer' || selectedOption === 'paypal') {
            document.getElementById('message').classList.remove('d-none')
            document.getElementById('card').classList.add('d-none')
            document.getElementById('crypto_wallet').classList.add('d-none')
            document.getElementById('crypto_wallet_btn').classList.add('d-none')
        } else {
            document.getElementById('message').classList.add('d-none')
            document.getElementById('card').classList.remove('d-none')
            document.getElementById('crypto_wallet').classList.add('d-none')
            document.getElementById('crypto_wallet_btn').classList.add('d-none')
        }
    }

    function copyAddress() {
        var copyText = document.getElementById("crypto_wallet");
        navigator.clipboard.writeText(copyText.getAttribute('data-id')).then(() => {
            alert('Wallet address copied to clipboard')
        });
    }
</script>
{% endblock %}