{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<section class="bg-green text-white py-3 text-center page_heading">
    <div class="container h-100 page_heading_bg" style="background: url('static/img/privacy-title.svg');">
        <div class="row d-flex-align-items-center justify-content-center h-100">
            <div class="col-12 col-12 align-self-center">
                <h1 class="title">Privacy Policy</h1>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>


<section class="terms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>SpinVantage Limited (referred to herein as "we" or "our") has created this Privacy Policy in order to
                    show our commitment to our customers (referred to herein as "you" or "your") privacy. The following
                    discloses our information gathering and dissemination practices. This policy covers all SpinVantage
                    Limited properties including,</p>

                <h2>AGREEMENT WITH SpinVantage LIMITED POLICIES</h2>
                <p>BY USING ANY OF THE SpinVantage LIMITED WEB SITES, PRODUCTS, OR SERVICES, YOU SIGNIFY YOUR
                    UNDERSTANDING AND AGREEMENT TO THE PRIVACY POLICY STATED HERE, AND TO THE TERMS OF SERVICE. IF YOU
                    DO NOT AGREE WITH OUR POLICIES, PLEASE DO NOT USE ANY OF THE SpinVantage LIMITED WEB SITES,
                    PRODUCTS, OR SERVICES.</p>

                <h2>PERSONAL INFORMATION</h2>
                <p>Any personal information that you provide to our Web site will stay safe, private, and secure. We
                    will not resell your information to outside sources. We will not share your information with any
                    third parties.</p>

                <h2>INFORMATION THAT WE MAY COLLECT FROM OUR USERS</h2>
                <p>We may collect the following information:<br>
                <ul>
                    <li>Your real name and mobile number</li>
                    <li>IP-address and common SpinVantage Limited web site usage statistics like web-browser, OS and
                        Desktop information and your path through SpinVantage Limited Web sites. Your Web browser or
                        client software that you use to access SpinVantage Limited may transmit certain geographic
                        information and information regarding the capabilities or features of your computer and/or
                        software to us. We may also track other types of information, such as what games users play, the
                        last time a user visited SpinVantage Limited, and whether a user has won any of our games,
                        lotteries, jackpots, or contests. We may use this information to calculate aggregate statistics
                        about our user community or for security purposes, and may provide such information to
                        advertisers and/or partners in aggregate form only.</li>
                </ul>
                </p>

                <h2>IP Address:</h2>
                <p>When a user visits any Web site owned or operated by SpinVantage Limited, we may collect the IP
                    address that requested the display of one of our sites. This address is collected for two purposes.
                    The first purpose is to exercise our ability to restrict access to the site by users who have
                    violated our Terms of Service. The second purpose is to support our advertising partners, so that
                    the partners will be able to accurately count the number of unique visitors to our sites who may
                    have viewed a given advertisement.</p>

                <h2>Sign Up and Survey information:</h2>
                <p>Any information you provide to us as part of your use of any SpinVantage Limited Web site will be
                    stored as entered.</p>

                <h2>Cookies:</h2>
                <p>The sole purpose of cookies is to enhance your online experience. Cookies are small data files that
                    are stored on your computer by Web sites. Through your Web browser, cookies are only used by the Web
                    site that wrote the cookie. Data stored in a cookie from SpinVantage Limited is only accessible by
                    the SpinVantage Limited Web sites. Personal information stored in our cookies is limited to
                    SpinVantage Limited Web site tracking codes. This information enables us to run customized
                    advertising, lets you automatically sign in when you visit SpinVantage Limited, and offers other
                    operational site activities. The information in our cookies is kept private and secure.</p>

                <h2>USE OF COLLECTED INFORMATION</h2>
                <p>Your username, mobile number, and password will be used to uniquely identify you as a user on any
                    SpinVantage Limited site. We may use or display your username for the purposes of rankings,
                    competitions, lottery winnings, chat identification, or game high scores. Other identifying
                    information collected during the sign up process or through other voluntary means (e.g., via
                    Surveys) may be used to calculate aggregate demographics figures and/or facilitate our ability to
                    direct advertisements to your Web browser.</p>

                <h2>SECURITY OF COLLECTED INFORMATION</h2>
                <p>All data that we collect is stored on one or more secure database servers that cannot be accessed
                    from outside out corporate network. Outside of our network, the only access to this data is that
                    provided through our Web sites. Through our sites, access to personal information is completely
                    controlled by user-defined mobile number addresses and passwords. Within our corporation, access to
                    data is secured through a private user ID and password known only to key personnel who maintain the
                    database. All employees of SpinVantage Limited are legally bound by a nondisclosure agreement that
                    prevents the disclosure of any corporate information to other parties. We have taken all reasonable
                    precautions to safeguard the privacy of your data.</p>

                <h2>MOBILE NUMBER/OPT-OUT</h2>
                <p>When you sign up as a SpinVantage Limited user, or download any software from SpinVantage Limited, by
                    default the option will be selected to allow us to communicate with you via mobile number about
                    news, releases, special offers, and events. You have the option to uncheck or check a box during the
                    sign up process that will prevent this, although by doing so you are potentially asking us to not
                    inform you of events and prize awards that may have tangible cash value to you. Any mobile number we
                    send to you will contain information about opting-out of any further mailings, and all SpinVantage
                    Limited Web sites have areas where you may manually opt-out of receiving further communications.
                    SpinVantage Limited treats each of its consumer offerings individually, so if you have opted to
                    receive mailings from more than one business entity, if you want to unsubscribe you must do so from
                    each entity individually. A second possible communication option is chosen by default, allowing
                    SpinVantage Limited to share you information with trusted partners who may also choose to
                    communicate with you. You also have the choice to uncheck the box for this option during the sign up
                    process.</p>

                <h2>HOW INFORMATION IS USED</h2>
                <p>The information you provide to SpinVantage Limited will allow us to notify you about new features,
                    enhancements, resolution of site problems, handle and/or route your customer support questions and
                    issues, and inform you of upgrade opportunities, contests, prizes, or special events. SpinVantage
                    Limited may use personal information in combination with data from third parties for similar
                    purposes as well.</p>

                <h2>THIRD-PARTY ADVERTISING</h2>
                <p>It is important that you understand that advertisers or Web sites that link to a SpinVantage Limited
                    site may collect personal information about you. The Privacy Policy does not apply to, and cannot
                    control the activities of, other advertisers or Web sites. We use third-party advertising companies
                    to serve ads on our sites. These companies may use information about your visits to this and other
                    sites in order to help them provide relevant ads to users (this information does not include name,
                    address, mobile number address, or telephone number).</p>

                <h2>Are you concerned about our use of personal information?</h2>
                <p>If, for any reason, you are concerned with the way that we may be using your personal information,
                    you may request that we cease to use your information or you may file a complaint by contacting us.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}