{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav alternate">
            <li class="nav-item"><a class="nav-link" href="/deposit">Deposit</a></li>
            <li class="nav-item"><a class="nav-link" href="/withdraw">Withdraw</a></li>
        </ul>
    </div>
</div>

<div id="content" class="py-4 bg-lgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-5 pb-sm-5 px-sm-5 mb-4">
                    <div>

                        <div class="text-center bg-yellow p-4 rounded mb-4">
                            <h3 class="text-10 text-white font-weight-400">&dollar;{{ user.userprofile.balance }}</h3>
                            <p class="text-white">Available Balance</p>
                        </div>

                        <form class="form-signin" action="" method="POST"> {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group row">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control form-control-lg' }}
                                {% if field.errors %}
                                <div class="alert alert-danger mt-3" role="alert">{{ field.errors.0 }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <div class="form-group row" id="crypto">
                                <label for="crypto_id">Wallet Address:</label>
                                <input type="text" class="form-control form-control-lg" id="crypto_id" name="crypto">
                            </div>
                            <p id="message" class="d-none">Kindly contact customer support <a href="mailto:support@spinvantage.com">support@spinvantage.com</a> for guidance</p>
                            <div class="mt-5">
                                <button class="mt2 btn btn-lg btn-primary btn-block" id="submit_button" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra-scripts %}
<script type="text/javascript">
    function withdraw() {
        let options = document.getElementById('id_withdrawal_options')
        let selectedOption = options.options[options.selectedIndex].value;

        if (selectedOption === 'crypto') {
            document.getElementById('submit_button').classList.remove('d-none')
            document.getElementById('message').classList.add('d-none')
            document.getElementById('crypto').classList.remove('d-none')
        } else {
            document.getElementById('submit_button').classList.add('d-none')
            document.getElementById('message').classList.remove('d-none')
            document.getElementById('crypto').classList.add('d-none')
        }
    }

    const names = ["us***35", "us***23", "us***90", "us***30", "us***05", "us***89", "us***03", "us***54", "us***67", "us***22", "us***34", "us***99"];

    function showRandomNameToast() {
        const randomName = names[Math.floor(Math.random() * names.length)];
        const toast = document.getElementById("nameToast");

        // Set the toast content and make it visible
        toast.textContent = `Congratulations! ${randomName} just withdraw $${parseFloat((Math.random() * 500000).toFixed(2)).toLocaleString()}`;
        toast.classList.add("show");
        toast.classList.remove("hidden");

        // Hide the toast after 3 seconds
        setTimeout(() => {
            toast.classList.remove("show");
            toast.classList.add("hidden");
        }, 3000);
    }

    // Display the toast at random intervals (e.g., every 5 to 10 seconds)
    setInterval(showRandomNameToast, Math.random() * 5000 + 5000); // 5-10 sec
</script>
{% endblock %}