{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>


<div class="bg-white">
    <div class="container d-flex justify-content-center">
        <ul class="nav secondary-nav alternate">
            <li class="nav-item"><a class="nav-link" href="/deposit">Deposit</a></li>
            <li class="nav-item"><a class="nav-link" href="/withdraw">Withdraw</a></li>
        </ul>
    </div>
</div>

<div id="content" class="py-4 bg-lgray">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-5 pb-sm-5 px-sm-5 mb-4">
                    <div class="text-center alert-info p-4 rounded mb-4">
                        <h3 class="text-10 font-weight-400">&dollar;{{ user.userprofile.balance }}</h3>
                        <p class="">Available Balance</p>
                    </div>

                    {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message|capfirst }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}

                    <form class="container-fluid form-signin" method="POST" id="myForm"> {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group row">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control form-control-lg' }}
                            {% if field.errors %}
                            <div class="alert alert-danger mt-3" role="alert">{{ field.errors.0 }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div id="crypto">
                            <div class="form-group row">
                                <label for="address_type">Address Type:</label>
                                <select name="address_type" class="form-control form-control-lg">
                                    <option value="btc">BTC</option>
                                    <option value="usdt">USDT</option>
                                    <option value="usdt">ETH</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label for="crypto_id">Wallet Address:</label>
                                <input type="text" class="form-control form-control-lg" id="crypto_id" name="crypto">
                            </div>
                        </div>
                        <div class="form-group row d-none" id="paypal">
                            <label for="paypal_email">Email:</label>
                            <input type="text" class="form-control form-control-lg" id="paypal_email" name="paypal" />
                        </div>
                        <div id="gcash" class="d-none">
                            <div class="form-group row" id="account_name">
                                <label for="account_name">Name:</label>
                                <input type="text" class="form-control form-control-lg" id="account_name"
                                    name="account_name" />
                            </div>
                            <div class="form-group row" id="account_number">
                                <label for="account_number">Gcash Number:</label>
                                <input type="text" class="form-control form-control-lg" id="account_number"
                                    name="account_number" />
                            </div>
                        </div>
                        <div id="bank" class="d-none">
                            <div class="form-group row">
                                <label for="bank_name">Bank Name:</label>
                                <input type="text" class="form-control form-control-lg" id="bank_name"
                                    name="bank_name" />
                            </div>
                            <div class="form-group row" id="account_name">
                                <label for="account_name">Account Name:</label>
                                <input type="text" class="form-control form-control-lg" id="account_name"
                                    name="account_name" />
                            </div>
                            <div class="form-group row" id="account_number">
                                <label for="account_number">Account Number:</label>
                                <input type="text" class="form-control form-control-lg" id="account_number"
                                    name="account_number" />
                            </div>
                        </div>
                        <p id="message" class="d-none">Kindly contact customer support <a href="mailto:support@spinvantage.com">support@spinvantage.com</a> for guidance</p>
                        <button class="btn btn-lg btn-primary btn-block" id="submit_button"
                            type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="nameToast" class=" hidden"></div>
    </div>
</div>
{% endblock %}
{% block extra-scripts %}
<script type="text/javascript">
    document.getElementById("myForm").addEventListener("submit", function (e) {
        e.preventDefault(); // Prevent the default form submission
        let options = document.getElementById('id_withdrawal_options')
        let selectedOption = options.options[options.selectedIndex].value;

        if (selectedOption == "crypto" && document.getElementById('crypto_id').value == '') {
            alert('Wallet address is required')
        } else if (
            (selectedOption == "paypal" ||
                selectedOption == "cash_app") &&
            document.getElementById('paypal_email').value == ''
        ) {
            alert('Email is required');
        } else {
            e.target.submit();
        }
    });
    function withdraw() {
        let options = document.getElementById('id_withdrawal_options')
        let selectedOption = options.options[options.selectedIndex].value;

        if (selectedOption === 'crypto') {
            document.getElementById('submit_button').classList.remove('d-none')
            document.getElementById('message').classList.add('d-none')
            document.getElementById('gcash').classList.add('d-none')
            document.getElementById('bank').classList.add('d-none')
            document.getElementById('paypal').classList.add('d-none')
            document.getElementById('crypto').classList.remove('d-none')
        } else if (selectedOption === 'paypal' || selectedOption === 'cash_app' || selectedOption === 'coinbase_wallet') {
            document.getElementById('submit_button').classList.remove('d-none')
            document.getElementById('message').classList.add('d-none')
            document.getElementById('gcash').classList.add('d-none')
            document.getElementById('crypto').classList.add('d-none')
            if (selectedOption === 'coinbase_wallet') {
                document.getElementById('crypto').classList.remove('d-none')
                document.getElementById('paypal').classList.add('d-none')
            } else {
                document.getElementById('paypal').classList.remove('d-none')
            }
            document.getElementById('bank').classList.add('d-none')
        } else if (selectedOption === 'bank_transfer') {
            document.getElementById('submit_button').classList.remove('d-none')
            document.getElementById('message').classList.add('d-none')
            document.getElementById('gcash').classList.add('d-none')
            document.getElementById('paypal').classList.add('d-none')
            document.getElementById('crypto').classList.add('d-none')
            document.getElementById('bank').classList.remove('d-none')
        } else if (selectedOption === 'gcash') {
            document.getElementById('bank').classList.add('d-none')
            document.getElementById('gcash').classList.remove('d-none')
            document.getElementById('submit_button').classList.remove('d-none')
            document.getElementById('message').classList.add('d-none')
            document.getElementById('paypal').classList.add('d-none')
            document.getElementById('crypto').classList.add('d-none')
        } else {
            document.getElementById('gcash').classList.add('d-none')
            document.getElementById('bank').classList.add('d-none')
            document.getElementById('submit_button').classList.add('d-none')
            document.getElementById('message').classList.remove('d-none')
            document.getElementById('paypal').classList.add('d-none')
            document.getElementById('crypto').classList.add('d-none')
        }
    }

    const names = ["us***35", "us***23", "us***90", "us***30", "us***05", "us***89", "us***03", "us***54", "us***67", "us***22", "us***34", "us***99"];

    function showRandomNameToast() {
        const randomName = names[Math.floor(Math.random() * names.length)];
        const toast = document.getElementById("nameToast");

        // Set the toast content and make it visible
        toast.textContent = `Congratulations! ${randomName} just withdraw $${parseFloat((Math.random() * 500000).toFixed(2)).toLocaleString()}`;
        toast.classList.add("show");
        toast.classList.remove("hidden");

        // Hide the toast after 3 seconds
        setTimeout(() => {
            toast.classList.remove("show");
            toast.classList.add("hidden");
        }, 3000);
    }

    // Display the toast at random intervals (e.g., every 5 to 10 seconds)
    setInterval(showRandomNameToast, Math.random() * 5000 + 5000); // 5-10 sec
</script>
{% endblock %}